body {
    background-color: rgb(235, 232, 228);
    font-family: helvetica, arial, sans-serif;
}

h1 {
    font-size: 60px;
}

.header {
    text-align: center;
    font-weight: bold;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
}

.recipes-button {
    margin: 20px 0px;
    padding: 8px 24px;
    font-size: 24px;
    border-radius: 8px;
    background-color: rgb(31, 31, 31);
    color: white;
    border: 0;
}