.content {
    position: fixed;
    padding: 0px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    flex: 33.33%;
    padding: 50px;
    text-align: center;
}

.column img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: 0.3s;
}

.column img:hover {
    opacity: 50%;
}

.row {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-size: 40px;
}